@model JOKRStore.Web.ViewModels.GameIndexViewModel

<link rel="stylesheet" href="~/css/details.css">
<link rel="stylesheet" href="~/css/GamesIndex.css">

<div class="container-fluid">
    <partial name="IndexGames" />
</div>