<div *ngIf="game">
    <h1>{{game.gameName}}</h1>
    <hr>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3">
                <div class="text_box box-width-240">
                    <p><img class="cover_art" [src]="game.coverArt" alt={{game.gameName}}>
                    </p>
                    <p>
                        <b>Release date: </b>{{game.release}}
                    </p>
                    <p>
                        <b>Rate: </b>{{game.rate}}
                    </p>
                    <p>
                        <b>Developer: </b>{{game.user.userName}}
                    </p>

                    <div>
                        <b>Genres: </b>
                        <ul>
                            <li *ngFor="let genre of game.genres">{{genre.property.name}}</li>
                        </ul>
                    </div>

                    <p *ngIf="game.demoLink"><a class="button button-green" (onclick)="downloadDemo(game.id)"></a></p>

                    <div *ngIf="game.price === 0; then showDownloadBtn else showBuyBtn"></div>
                    <ng-template #showDownloadBtn>
                        <p><a class="button button-green" (onClick)="downloadGame(game.id)">Download</a></p>
                    </ng-template>
                    <ng-template #showBuyBtn>
                        <p><a class="button button-blue" (onClick)="buyGame(game.id)">Buy</a></p>
                    </ng-template>

                    <div *ngIf="game.price === 0; then showFreeTitle else showPrice"></div>
                    <ng-template #showFreeTitle>
                        <p>FREE</p>
                    </ng-template>
                    <ng-template #showPrice>
                        <p>{{game.price}} Ft</p>
                    </ng-template>

                    <a *ngIf="myDevelopment">Edit basics</a>
                </div>
            </div>

            <div class="col-md-9">
                <p class="header-big">Description</p>

                <div *ngIf="game.descriptions.length">
                    <p>{{game.descriptions[0].content}}</p>
                </div>
            </div>
        </div>

        <div class="row row-no-gutters">
            <div class="col-sm-12">
                <p class="header-big">System requirements</p>
                <div *ngIf="game.descriptions">
                    <a (onclick)="editSysReq()">Edit system requirements</a>
                </div>

                <div class="container-fluid">
                    <div class="row">
                        <div *ngIf="game.minSysReq" class="col-md-6 col-lg-5">
                            <p><b><i>Minimum system requirements:</i></b></p>
                            <app-sysReq [sysReqData]="game.minSysReq"></app-sysReq>
                        </div>
                        <div *ngIf="game.recSysReq" class="col-md-6 col-lg-5">
                            <p><b><i>Recommented system requirements:</i></b></p>
                            <app-sysReq [sysReqData]="game.recSysReq"></app-sysReq>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <p class="header-big">Galery:</p>
                <div class="text_box">
                    <table>
                        <tr>
                            <td *ngFor="let media of game.medias; let i = index">
                                <img [src]="media.contain" style="width:100px;cursor:pointer" onclick="showDiv(i)"
                                    class="w3-hover-opacity">
                            </td>
                        </tr>
                    </table>
                </div>
                <div id="modal01" class="w3-modal">
                    <span class="w3-close" onclick="Close()">&times;</span>
                    <div class="w3-modal-content">
                        <div *ngIf="game.medias.length > 0; else noPictures" class="slide-image">
                            <img [src]="game.medias[0].contain" style="max-width:800px; max-height:500px">
                        </div>
                        <ng-template #noPictures>
                            <p>There aren't pictures for this game</p>
                        </ng-template>
                    </div>
                    <a class="w3-display-left" onclick="plusDivs(-1)" onkeypress="plusDivs_key(event, -1)">&#10094;</a>
                    <a class="w3-display-right" onclick="plusDivs(1)">&#10095;</a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="title_frame">
                    <div class="titlet_header">
                        Comments
                    </div>
                    <div *ngIf="game.comments.length > 0; else noComments">
                        <div class="container-fluid comment_frame">
                            <div *ngFor="let comment of game.comments">
                                <div class="row comment_header">
                                    <a routerLink="/userDetail">
                                        <div class="col-sm-9">{{comment.user.userName}}</div>
                                    </a>
                                    <div class="col-sm-3 coment_date">{{comment.commentDate}}</div>
                                </div>
                                <div class="row comment_body">
                                    <div class="col-sm">{{comment.contain}}</div>
                                </div>
                            </div>

                        </div><br>
                    </div>
                    <ng-template #noComments>
                        <p style="text-align: center; margin: 10px"><b>There aren't comments yet at this game.</b></p>
                    </ng-template>
                </div><br>

                <div class="container-fluid">
                    <div class="row">
                        <div class="col">
                            <div *ngIf="isLoggedIn(); else noLogin" class="form-group">
                                <form #commentForm="ngForm" (ngSubmit)="submitComment(commentForm.value)" autocomplete="off">
                                    <label for="comment">Add new comment:</label>
                                    <textarea class="form-control" rows="3" name="contain"
                                        placeholder="Write your comment here"></textarea>
                                    <button type="submit" class="button button-cian">Submit</button>
                                </form>
                            </div>
                            
                            <ng-template #noLogin>
                                <label for="comment">You must log in to write comments.</label>
                            </ng-template>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    var slideIndex = 0;
    var i;
    var x = document.getElementsByClassName("slide-image");
    function plusDivs(n) {
        slideIndex += n;
        if (slideIndex >= x.length) { slideIndex = 0 }
        if (slideIndex < 0) { slideIndex = x.length - 1 }
        showDiv(slideIndex);

    }
    function showDiv(n) {
        document.getElementById("modal01").style.display = "block";
        for (i = 0; i < x.length; i++) {
            x[i].style.display = "none";
        }
        slideIndex = n;
        x[slideIndex].style.display = "block";
    }
    function Close() {
        document.getElementById("modal01").style.display = "none";
    }

    function plusDivs_key(e, n) {
        var keycode = (e.keyCode ? e.keyCode : e.which);
        if (keycode == '13') {
            plusDivs(1);
        }
    }

</script>