.button {
    
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

.button-green {
    background-color: #4CAF50; /* Green */
}

.button-blue {
    background-color: #008aff; /* Blue */
}

.button-cian {
    background-color: #56dbdb; /* Cian */
}

.button-gray {
    background-color: #9d9d9d; /* Gray */
}