.list-item-dark {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
    border-top: 1px solid;
    border-top-color: rgb(92, 92, 92);
    background: black;
}

.list-item-dark:hover {
    background: rgb(61, 61, 61);
}