/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

ul {
    list-style-position: inside;
    padding: 1px;
  }

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

.mosaic {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

body {
    background : black;
    color : white;
}

textarea {
    color : black;
}

.mosaic-frame {
    margin : 20px;
    
}

.mosaic-tile {
    max-width: 200px;
    height: auto;
}

.mosaic-button {
    text-align : center;
}

label span{
    position: relative;
    color: white;
    z-index: 2;
}

label span:hover{
    filter: blur(1px);
}

    label span:hover label::before,
    label span:hover label::after {
        visibility: visible;
    }
label span:hover label::before {
    color: rgba(255,0,188,.8);
    animation: glitch .3s cubic-bezier(.25,.46,.45,.94) both infinite;
}
    label span:hover label::after {
        color: rgba(0,255,255,.8);
        animation: glitch .3s cubic-bezier(.25,.46,.45,.94) reverse both infinite;
    }
@keyframes glitch {
  0%{
    transform: translate(0);
  }
  20%{
    transform: translate(-1px, 1px);
  }
  40%{
    transform: translate(-1px, -1px);
  }
  60%{
    transform: translate(1px, 1px);
  }
  80%{
    transform: translate(1px, -1px);
  }
  100%{
    transform: translate(0);
  }
}
