/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

.card {
    position: relative;
    width: 200px;
    height: 300px;
    background: #000;
    overflow: hidden;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
    margin: 15px;
}

.card .poster:before {
    content: '';
    position: absolute;
    bottom: -115;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, #000 15%, transparent);
    transition: 0.5s;
    z-index: 1;
}

.card:hover .poster:before {
    bottom: 0;
}

.card .poster {
    position: relative;
    overflow: hidden;
}

.card .poster img {
    width: 100%;
    transition: 0.5s;
}

.card:hover .poster img {
    filter: blur(3px);
    transform: translateY(-50px);
}

.details {
    position: absolute;
    padding: 20px;
    width: 100%;
    height: 68%;
    bottom: -182;
    left: 0;
    box-sizing: border-box;
    transition: 0.5s;
    z-index: 2;
}

.card:hover .details {
    bottom: 0;
}

.details h2 {
    color: #fff;
    margin: 0;
    padding: 0;
    margin-bottom: 10px;
    font-size: 25px;
}

.details h2 span {
    font-size: 14px;
    color: #dc2430;
}

.tags {
    position: relative;
    margin-top: 5px;
}

.tags span {
    padding: 2px 5px;
    margin-right: 2px;
    color: #fff;
    display: inline-block;
    background: transparent;
    font-size: 12px;
    font-weight: bold;
    padding: 5px 5px;
    border: 2px solid transparent;
    border-image: linear-gradient(90deg, #7b4397,#dc2430);
    border-image-slice: 1;
}

.info {
    color: #fff;
}

.info p {
    margin: 15px 0 10px;
    line-height: 21px;
    font-weight: 200;
}

.mosaic {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.titlet_header {
    font-size: 20px;
    background: #56dbdb;
    color: white;
    padding : 5px;
    font-weight : bold;
}

.title_frame {
    background: #282729;
    color: white;
    border: 1px solid #56dbdb;
    padding: 5px;
    margin: 5px;
}

.comment_header {
    background: #403E41;
    padding: 5px;
    font-weight: bold;
}

.comment_frame {
    background: #282729;
    margin: 5px;
}

.comment_body {
    padding: 20px;
}

.coment_date {
    text-align : right;
}

body {
    background : black;
    color : white;
}

textarea {
    color : black;
}

.button {
    
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

.button-green {
    background-color: #4CAF50; /* Green */
}

.button-blue {
    background-color: #008aff; /* Blue */
}

.button-cian {
    background-color: #56dbdb; /* Cian */
}

.button-gray {
    background-color: #9d9d9d; /* Gray */
}

.mosaic-frame {
    margin : 20px;
    
}

.mosaic-tile {
    max-width: 200px;
    height: auto;
}

.mosaic-button {
    text-align : center;
}

.text_box {
    padding: 10px;
    background: #454545;
    border: 2px solid #56dbdb;
    margin: 20px;
    float: left;
}

.box-width-240 {
    width: 240px;
}

.header-big {
    font-size: 28px;
    color: #56dbdb;
    text-decoration: underline;
}