/* You can add global styles to this file, and also import other style files */
@import 'https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css';

body {
    background : black;
    color : white;
}

.button {
    
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

.form-control, .form-control:focus  {
    background-color:  #282729;
    color: white;
}

.align-center {
    text-align: center;	
}

.link {
    cursor:pointer
}

.justify-context-center {
    display: flex;
    justify-content: center;
    margin: 10px;
}

.pagination > .page-item > .page-link {
    background-color:  #282729;
    color: gray;
    border: 0px;
    margin: 2px;
}

.pagination > .disabled > .page-link  {
    color: rgb(70, 70, 70);
}

.pagination > .active > .page-link  {
    color: white;
    background-color:  #3c3a3d;
}

.button-green {
    background-color: #4CAF50; /* Green */
}

.button-blue {
    background-color: rgb(94, 138, 199);
}

.button-cian {
    background-color:rgb(130, 194, 191);
}

.button-gray {
    background-color: #9d9d9d; /* Gray */
}


.tab-panel {
    border: 1px solid rgb(89, 89, 107);
}

.nav-tabs > li.open, .game-tabset > .nav-tabs > li:hover {
    border-bottom: rgb(89, 89, 107);
    color:  rgb(172, 255, 251);
}

.game-tabset > .nav-tabs > li > a {
    color:  rgb(130, 194, 191);
}

.game-tabset > .nav-tabs > li.open > a, .game-tabset > .nav-tabs > li:hover > a {
    border: 0;
    background: none !important;
    color:  rgb(172, 255, 251);
}

.game-tabset > .nav-tabs > li.open > a > i, .game-tabset > .nav-tabs > li:hover > a > i {
    color:  rgb(120, 120, 145);
}

.game-tabset > .nav-tabs > li.open .dropdown-menu, .game-tabset > .nav-tabs > li:hover .dropdown-menu {
    margin-top: 0px;
}

.game-tabset > .nav-tabs > li.active {
    border-bottom: 4px solid rgb(130, 194, 191);
    position: relative;
}

.game-tabset > .nav-tabs > li.active > a {
    background: none !important;
    border: 0 !important;
    color: white;
}

.game-tabset > .nav-tabs > li.active > a > i {
    color: #440044;
}

.game-tabset > .tab-content {
    margin-top: -3px;
    background-color:black;
    border: 0;
    border-top: 1px solid rgb(89, 89, 107);
    padding: 15px 0;
}

.title_frame {
    padding: 10px;
}

.title_frame_first {
  background:rgb(89, 89, 107);
}

.title_frame_second {
  background:rgb(20, 31, 42);
}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }
  
  .image_container {
    position: relative;
    width: 150px;
    cursor: pointer;
  }
  
  .image {
    opacity: 1;
    display: block;
    width: 150px;
    height: auto;
    padding: 10px;
    transition: .5s ease;
    backface-visibility: hidden;
  }
  .image_container:hover .image {
    opacity: 0.3;
  }
  
  .image_container:hover .middle {
    opacity: 1;
  }

  .mosaic {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

h2 {
  color : rgb(130, 194, 191);
  margin : 10px;
}
