<table>
  <tr><td>
      <div style="padding: 5px; padding-top: 20px;">
          <div class="title_frame">
              <div class="titlet_header">New released games</div>
  
              <div class="container-fluid">
                <div *ngFor="let game of newReleaseGames" class="col-sm-2">
                <a asp-controller="Games" asp-action="Details" asp-route-id="game.Id">
                    <div class="image_container">
                        <img src="~/images/Games/@game.GameName/CoverArt.jpg" alt="game.GameName" class="image" >
                        <div class="middle">
                            <p style="font-size: 20px; color:white; text-align: center; line-break: normal; overflow:visible;">{{game.GameName}}</p>
                        </div> 
                    </div>
                </a>
                </div>
              </div>
          </div>
      </div>
  </td></tr>
  
  <tr><td>
      <div style="padding: 5px; padding-top: 20px;">
          <div class="title_frame">
              <div class="titlet_header">New testable games</div>
  
              <div class="container-fluid">
                  <div *ngFor="let game of newTestableGames" class="col-sm-2">
                    <div class="image_container">
                        <img src="#" alt="game.GameName" class="image" >
                        <div class="middle">
                            <p style="font-size: 20px; color:white; text-align: center; line-break: normal; overflow:visible;">{{game.GameName}}</p>
                        </div> 
                    </div>
                  </div>
              </div>
          </div>
      </div>
  </td></tr>
  </table>