#homePage {
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
}

.slide-text {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    height: 300px;
    font-size: 22px;
}

#slide1-img {
    background-image: url("/assets/images/home/0.jpeg");
    background-position: middle;
    background-size: cover;
    height: 300px;
}

#slide2-img {
    background-image: url("/assets/images/home/1.jpeg");
    background-position: middle;
    background-size: cover;
    height: 300px;
}

#slide3-img {
    background-image: url("/assets/images/home/3.jpeg");
    background-position: middle;
    background-size: cover;
    height: 300px;
}
.home-image {
    width: 500px;
}
