@model Guid

<form action="NewTopic" method="post">
    <label for="title">Topic title</label><br>
    <input type="text" id="title" placeholder="Topic title here" /><br>
    <textarea id="content"></textarea>
    <input type="hidden" id="categoryId" value=@Model>
    <input type="submit" />
</form>