<h3>Cart</h3>

<div id="page_cart">
    <table class="table">
        <thead>
            <tr>
                <th>Option</th>
                <th>Id</th>
                <th>Name</th>
                <th>Photo</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
          <tr *ngFor="let element of cart let i = index">
            <td><a class="button button-gray" (click)="Remove(element.id)">Remove</a></td>
            <td>{{i+1}}.</td>
            <td>{{element.gameName}}</td>
            <td><img [src]="element.coverArt" width="60"/> </td>
            <td>{{element.price}} Ft</td>
            </tr>
        </tbody>
    </table>
    <p>Summary: {{priceSum}} Ft</p><br>
    <a class="button button-cian" (click)="show('page_pay_mode', 'page_cart')">go to paymode</a>
    <a class="button button-cian" routerLink="/games">Continue Shopping</a>
</div>

<div id="page_pay_mode">
    <input type="radio" name="paymode" value="credit_card"> Credit card<br>
    <input type="radio" name="paymode" value="paypal"> Paypal<br>
    <a class="button button-cian" (click)="Buy()">Go to pay</a>
    <a class="button button-cian" (click)="show('page_cart', 'page_pay_mode')">Back</a>
</div>
