.title_frame {
    padding: 10px;
}

.title_frame_first {
  background:rgb(89, 89, 107);
}

.title_frame_second {
  background:rgb(20, 31, 42);
}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }
  
  .image_container {
    position: relative;
    width: 150px;
  }
  
  .image {
    opacity: 1;
    display: block;
    width: 150px;
    height: auto;
    padding: 10px;
    transition: .5s ease;
    backface-visibility: hidden;
  }
  .image_container:hover .image {
    opacity: 0.3;
  }
  
  .image_container:hover .middle {
    opacity: 1;
  }

  .mosaic {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

h2 {
  color : rgb(130, 194, 191);
  margin : 10px;
}
